/* General style rules */

html {
    min-height: 100vh;
    position: relative;
}

body {
    color: white;
    background-color: rgb(40, 40, 40);
    font-size: 19px;
    overflow: auto;
    margin-bottom: 50px; /* Footer height */
}

h1, h2 {
    padding: 20px;
}

p {
    text-align: justify;
}

.hyperlink {
    color: lightblue;
}

.hyperlink:visited {
    color: blue;
}

.hyperlink:hover {
    color: aliceblue;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

footer {
    background-color: #3E3C4B;
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
}

/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */

/* Index page */

#indexContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    margin: 30px;
    
}

#indexContainerChapters {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin: 20px;
}

#indexMainHeader {
    text-align: center;
}

.indexParagraph {
    width: 90%;
}

.indexChapterParagraph {
    margin-left: 30px;
    margin-right: 30px;
}

.indexChapter {
    text-align: justify;
}


#indexGameTable {
    border: 3px solid black;
    padding: 10px;
    margin-left: 7%;
    border-collapse: collapse;
    background-color: #C4C4C4;
    width: 80%;
    height: 80%;
    text-align: center;
}

.indexGameTableRow {
    border: 3px solid black;
    padding: 15px;
}

.indexGameTableItem {
    border: 3px solid black;
    padding: 10px;
    height: 80px;
}

.indexGameTableHeader {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    background-color: #00A97F;
}

#indexImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 20vw;
}

/* Gallery page */

#galleryBody {
    overflow-y: hidden;
}

#galleryHeader {
    margin: 30px;
    text-align: center;
}

#galleryContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 30px;
    margin: 30px;
    height: 72vh; 
    overflow-y: auto;
    overflow-x: hidden;
}

.galleryImage {
    width: 100%;
    height: 100%;
    padding: 2%;
}

.galleryImage:hover {
    display: flex;
    transition: all 0.5s;
    transform: scale(1.1);
}

/* Contact page */

#contactHeader {
    text-align: center;
}

#contactContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 20px;
}

#contactFormular {
    width: 70%;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    background-color: #3E3C4B;
}

.form-text {
    color: rgb(141, 141, 141);
}

.mandatoryField {
    color: red;
}

/* About me page */

#aboutMeContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
}

#aboutMeParagraph {
    margin: 20px;
    width: 30vw;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    background-color: #3E3C4B;
}

#meImageText {
    justify-self: end;
    margin: 25px;
}

#meImage {
    width: 10vw;
    border-radius: 20px;
}

#meImage:hover {
    display: flex;
    transition: all 1.5s;
    transform: rotate(360deg);
}

#stickmanText {
    font-size: 10px;
}

/* Colour pallete

https://mycolor.space/?hex=%23282828&sub=1 */